.offers{
    width: 75%;
    height: 70vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(270deg,#DECBA4  0%, #3E5151 100%);
}
.offer-left{
    flex: 1;
    display: flex;

    flex-direction: column;
    justify-content: center;
}

.offer-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}
.offer-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offer-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;

}

.offer-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
    padding-top: 40px;
    

}
.offer-right img{
    height: 65vh;
    padding-right: 0%;
}