.offers{
    width: 75%;
    height: 70vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(270deg,#DECBA4  0%, #3E5151 100%);
}
.offer-left{
    flex: 1;
    display: flex;

    flex-direction: column;
    justify-content: center;
}

.offer-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}
.offer-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offer-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;

}

.offer-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
    padding-top: 40px;
    

}
.offer-right img{
    height: 65vh;
    padding-right: 0%;
}

@media(max-width:1280px){
    .offers{
        padding: 0px 80px;
        margin-bottom: 120px;
        width: 80%;
    }.offer-left h1{
        font-size: 40px;
    }
    .offer-left p{
        font-size: 18px;
    }
    .offer-right img{
        width: 400px;
        margin-top:30px;

    }
    .offer-left button{
        width: 220px;
        height: 40px;
        font-size: 18px;
    }
    .offer-right{
        padding-top: 40px;
    }
}
@media(max-width:1024px){
    .offers{
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 40vh;
    }.offer-left h1{
        font-size: 30px;
    }
    .offer-left p{
        font-size: 16px;
    }
    .offer-right img{
        width: 200px;
        height: 40vh;
        margin-bottom: 9%;

    }
    .offer-left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
    .offer-right{
        padding-top: 1px;
    }
}
@media(max-width:800px){
    .offers{
        width: 80%;
        margin-bottom: 60px;
        margin-top: 85px;
        
    }.offer-left h1{
        font-size: 22px;
    }
    .offer-left p{
        font-size: 13px;
    }
    .offer-right img{
        width: 180px;
        margin-bottom: 12%;
       

    }
    .offer-left button{
        width: 140px;
        height: 30px;
        font-size: 12px;
    }
   
}
@media(max-width:500px){
    .offers{
        height: 25vh;
        margin-bottom: 20px;
        margin-top: 0px;
        
    }.offer-left h1{
        font-size: 16px;
    }
    .offer-left p{
        font-size: 10px;
    }
    .offer-right img{
        width: 120px;
        height: 24vh;
        padding-right: 0px;
        margin-bottom: 18%;
       

    }
    .offer-left button{
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }
   
}